/* MEDIA QUERIES */
@media (max-width: 425px) {
	.header__container {
		height: 10vh;
	}
	.names {
		display: none;
	}
	.header__slider {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.header__section {
		padding: 0.5rem 0;
	}
	.container2 {
		padding: 0 4rem;
	}
}

/* sm */
@media (max-width: 642px) {
	.Links {
		font-size: 0.7rem;
	}
	.names {
		margin: 0 0;
		padding: 0 0.5rem;
	}
	.header__container {
		width: 100%;
		height: 4rem;
	}
	.header__section {
		padding: 0.5rem 0;
	}
	.header__logo {
		height: 40px;
		width: auto;
	}
	.container2 {
		padding: 0 1.5rem;
	}
}

@media (min-width: 640px) and (max-width: 768px) {
	.Links {
		font-size: 0.75rem;
	}
	.names {
		margin: 0 0;
		padding: 0 0.75rem;
	}
	.header__container {
		width: 100%;
		height: 4rem;
	}
	.header__section {
		padding: 0.65rem 0;
	}
	.header__logo {
		height: 50px;
		width: auto;
	}
	.container2 {
		padding: 0 3rem;
	}
}

/* md */
@media (min-width: 768px) and (max-width: 1024px) {
	.Links {
		font-size: 0.75rem;
	}
	.names {
		margin: 0 0;
		padding: 0 0.75rem;
	}
	.header__container {
		height: 5rem;
	}
	.header__section {
		padding: 0.75rem 0;
	}
	.header__logo {
		height: 50px;
		width: auto;
	}
	.container2 {
		padding: 0 6rem;
	}
}

/* lg */
@media (min-width: 1025px) and (max-width: 1280px) {
	.Links {
		font-size: 0.9rem;
	}
	.names {
		margin: 0 0;
		padding: 0 0.75rem;
	}
	.header__container {
		height: 6rem;
	}
	.header__section {
		padding: 0.875rem 0;
	}
	.container2 {
		padding: 0 9rem;
	}
	.header__logo {
		height: 70px;
		width: auto;
	}
}

/* xl */
@media (min-width: 1280px) {
	.Links {
		font-size: 1.2rem;
	}
	.header__container {
		height: 7rem;
	}
	.header__section {
		padding: 1rem 0;
	}
	.container2 {
		padding: 0 11rem;
	}
	.header__logo {
		height: 75px;
		width: auto;
	}
}
